<div class="delete-edit">
  <a href="/speakers/delete/{{ speaker._id }}">Delete</a>
  <a href="/speakers/edit/{{ speaker._id }}">Edit</a>
</div>

<div class="speaker">

  <div class="speaker-bio">
    <div>{{#if speaker.image}} <img src="{{ speaker.image }}" alt=""> {{/if}}</div>
    <div class="text">
      <h2>{{ speaker.name }}</h2>
      <p>{{ speaker.role }}</p>
      <p>Region {{ speaker.region }}</p>
    </div>
  </div>
  <p>{{ speaker.description }}</p>
</div>

{{#if speaker.topics}}
<div class="topic-row">
  {{#each speaker.topics}}
    <div class="topic">
      <span class="topic-title">{{ title }}</span>
      <p class="topic-theme">{{ theme }}</p>
      <p class="topic-about">{{ about }}</p>
    </div>
  {{/each }}
</div>
{{/if }}

<small class="foot-note">If you would like {{speaker.name}} to speak at your next SPAx, please contact your coordinator from Region {{speaker.region}}.</small>


{{#if user}}
<form class="new-topic" action="/speakers/{{speaker._id}}" method="POST">
  <p>
    <label for="author">Title:</label>
    <input type="text" name="title" placeholder="Title" />
  </p>

  <p>
    <label for="author">Theme:</label>
    <input type="text" name="theme" placeholder="Theme" />
  </p>

  <p>
    <label for="about">Description:</label>
    <textarea name="about" id="" rows="8" cols="40"></textarea>
  </p>

  <button type="submit">Add Topic</button>

</form>
{{/if}}